html {
  background: url("https://car-images.bauersecure.com/pagefiles/86633/ferrari_f8_tributo_49.jpg") no-repeat center fixed;
  background-size: cover;
}

.card-welcome {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
#pin-form {
  text-align: center;
}

#new-pin-form {
  width: 50%;
  text-align: left;
}

#pins-container {
  color: white;
  /* background-color: #006600; */
  background: url("https://wallpaperaccess.com/full/983279.jpg");

}

.pin-image-container {
  background-color: lightgreen;
  display: grid;
  height: 400px;
  width: 600px;
  align-content: center;
}

.pin-description {
  color: white;
}
.pin-title {
  color: blue;
}

body, html {
  margin: 10% 15%;
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://car-images.bauersecure.com/pagefiles/86633/ferrari_f8_tributo_49.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}