html {
  background: url("https://car-images.bauersecure.com/pagefiles/86633/ferrari_f8_tributo_49.jpg") no-repeat center fixed;
  background-size: cover;
}

.card-welcome {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}